*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(233, 213, 190);
}

.container-1{
    display: flex;
    justify-items: center;
    margin-top: 6rem;
    margin-inline: 6rem;
    gap: 6rem;
    flex-direction: row;
}
.voting{
    width: 50%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   justify-content: center;
   padding: 1rem;
   background-color: rgb(246, 244, 242);
   border-radius: 1rem;

}
.voting-header{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
.voting-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.voting-subtittle{
    font-size: 1.2rem;
    font-weight: bold;
}
#age{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
}
.voting-button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
    background-color: rgb(38, 38, 38);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
#result{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
}
/* =====================================================
                         even odd
   ===================================================== */
.even-odd{
    width: 50%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   justify-content: center;
   padding: 1rem;
   background-color: rgb(246, 244, 242);
   border-radius: 1rem;
}
.even-odd-heading{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
.even-odd-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.even-odd-subtittle{
    font-size: 1.2rem;
    font-weight: bold;
}
#number{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
}
.even-odd-button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
    background-color: rgb(38, 38, 38);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
#evenOddResult{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
}




/*===================================
            container-2 
 =================================*/

 .container-2{
    display: flex;
    justify-items: center;
    margin-top: 6rem;
    margin-inline: 6rem;
    gap: 6rem;
    flex-direction: row;
 }
 .pos-neg{
    width: 50%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   justify-content: center;
   padding: 1rem;
   background-color: rgb(246, 244, 242);
   border-radius: 1rem;
 }
 .pos-neg-heading{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
 }
 .pos-neg-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }
 .pos-neg-subtitle{
     font-size: 1.2rem;
    font-weight: bold;
 }
 #num{
     padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
 }
 .pos-neg-button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
    background-color: rgb(38, 38, 38);
    color: white;
    font-weight: bold;
    font-size: 1rem;
 }
 #pos-neg-result{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
 }


 
/*===================================
        grade calculate system
 =================================*/

    .grade-calculate{
        width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(246, 244, 242);
    border-radius: 1rem;
    }
   .grade-calculate-heading{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
   }
    .grade-calculate-body{
     display: flex;
     flex-direction: column;
     gap: 1rem;
    }
    .grade-calculate-subtitle{
        font-size: 1.2rem;
        font-weight: bold;
    }
    #score{
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(38, 38, 38);
    }
    .grade-calculate-button{
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(38, 38, 38);
        background-color: rgb(38, 38, 38);
        color: white;
        font-weight: bold;
        font-size: 1rem;
    }
    #gradeResult{
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(38, 38, 38);
    }
    
  /*===================================
            container-3 
 =================================*/

.container-3{
    display: flex;
    justify-items: center;
    margin-top: 6rem;
    margin-inline: 6rem;
    gap: 6rem;
    flex-direction: row;
}
.leap-year{
      width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(246, 244, 242);
    border-radius: 1rem;
}
.leap-year-heading{
 text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
.leap-year-body{
     display: flex;
     flex-direction: column;
     gap: 1rem;
}
.leap-year-subtitle{
     font-size: 1.2rem;
    font-weight: bold;
}
#year{
      padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(38, 38, 38); 
}
.leap-year-button{
     padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(38, 38, 38);
        background-color: rgb(38, 38, 38);
        color: white;
        font-weight: bold;
        font-size: 1rem;
}
#leapYearResult{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);

}

/* fail passing system */

.fail-passing{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(246, 244, 242);
    border-radius: 1rem;
}
.fail-passing-heading{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
.fail-passing-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}   
.fail-passing-subtitle{
    font-size: 1.2rem;
    font-weight: bold;
}
#marks{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
}
.fail-passing-button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
    background-color: rgb(38, 38, 38);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
#failPassResult{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);

}

  /*===================================
            container-4 
 =================================*/

.container-4 ,
.container-5 ,
.container-6,
.container-7, 
.container-8{
    display: flex;
    justify-items: center;
    margin-top: 6rem;
    margin-inline: 6rem;
    gap: 6rem;
    flex-direction: row;
}
.largest-number,
.vowel-consonant,
.temperature-checking , .shopping-card , .calculator
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(246, 244, 242);
    border-radius: 1rem;
}
.largest-number-heading , .vowel-consonant-heading , .temperature-checking-heading,
.shopping-card-heading , .calculator-heading{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
.largest-number-body , .vowel-consonant-body , .temprature-checking-body , 
.shopping-card-body , .calculator-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.largest-number-subtitle , .vowel-consonant-subtitle , .temprature-checking-subtitle , 
.shopping-card-subtittle , .calculator-subtitle{
    font-size: 1.2rem;
    font-weight: bold;
}
#num1, #num2, #num3 , #letter , #temprature , 
#shopping , #firstNumber  , #secondNumber , #operator{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
}
.largest-number-button , .vowel-consonant-button , .temprature-checking-button
, .shopping-card-button , .calculator-button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
    background-color: rgb(38, 38, 38);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
#largestNumberResult , #vowelConsonantResult , #tempratureResult
, #shoppingCardResult , #calculatorResult{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
}

.login-validation , .day-of-week , .age-category-checker , 
.password-strength{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(246, 244, 242);
    border-radius: 1rem;
}

.login-validation-heading , .day-of-week-heading , .age-category-checker-heading , 
.password-strength-heading{
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.login-validation-body , .day-of-week-body , .age-category-checker-body , 
.password-strength-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-validation-subtitle , .day-of-week-subtitle , .age-category-checker-subtitle , 
.password-strength-subtitle{
    font-size: 1.2rem;
    font-weight: bold;
}

#username, #password  , #dayNumber , #agee , #passWord{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
}
.login-validation-button , .password-strength-button , .day-of-week-button , .age-category-checker-button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
    background-color: rgb(38, 38, 38);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
#loginValidationResult , #passwordStrengthResult , #dayOfWeekResult , #ageCategoryResult{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(38, 38, 38);
}
.container-8{
    margin-bottom: 6rem;
    justify-content: center;
}